<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/add_study.css' %}">
</head>
<body>
    <h1>Add Study</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
            <a href="{% url 'index' %}">Cancel</a>
            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
        </form>

</body>
</html>